* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
    font-family: 'Spartan', sans-serif;
}

body {
    padding: 6rem;
}

/* Grids */

.mainGrid {
    display: grid;
    grid-template-areas: "firstGrid" 
                         "secondGrid";
}

.firstGrid {
    display: grid;
    grid-template-areas: "introContainer ratingContainer";
    grid-template-columns: 1fr 1.2fr;
    grid-area: firstGrid;
}

.secondGrid {
    display: grid;
    grid-template-areas: "firstFeedback secondFeedback thirdFeedback";
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: secondGrid;
    margin-top: 1.2rem;
    justify-content: space-between;
    align-items: center;
}

/* Intro Container */

.introContainer {
    padding: 1.3rem 3.3rem 3.3rem 0;
    grid-area: introContainer;
}

.intro_h1 {
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    font-size: 3rem;
}

.intro_p {
    color: hsl(303, 10%, 53%);
    font-weight: 400;
    font-size: 1rem;   
    margin-top: 1rem;
    line-height: 1.5;
}

/* Rating Container */

.rating {
    margin-left: 1.7rem;
    font-weight: 700;
    color: hsl(300, 43%, 22%);
}

.ratingContainer {
    grid-area: ratingContainer;
    padding-top: 1.5rem;
}

.ratingBox {
    width: 80%;
    border-radius: 10px;
    display: flex;
    background-color: hsl(300, 24%, 96%);
    padding: 1rem;
    margin: 1rem;
    text-align: left;
    flex-direction: row;    
}

.ratingBox2 {
    margin-left: 10%;
}

.ratingBox3 {
    margin-left: 20%;
}

/* Feedback */

.feddback {
    background-color: hsl(300, 43%, 22%);
    padding: 1.5rem;
    margin: 2rem 1rem 1rem 1rem;
    border-radius: 10px;
}

.firstFeedback {
    grid-area: firstFeedback;
    margin-left: 0;
}

.secondFeedback {
    grid-area: secondFeedback;
    margin-top: 5rem;
}

.thirdFeedback {
    grid-area: thirdFeedback;
    margin-top: 8rem;
    margin-right: 0;
}

.feedbackHeading {
    display: flex;
    align-items: center;
    margin: 1rem 0 2rem;
}

.nameVerifiedBuyer {
    margin-left: 2rem;
}

.feedbackProfile {
    width: 80px;
    height: 80px;
    border-radius: 100px;
}

.feedbackName {
    font-weight: 700;
    color: hsl(0, 0%, 100%);
}

.verifiedBuyer {
    font-weight: 500;
    color: hsl(333, 80%, 67%);
}

.testimonial {
    font-weight: 400;
    color: hsl(0, 0%, 100%);
    text-align: left;
}

.attribution {
    font-size: 11px;
    text-align: center;
  }
.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Star */

.star-color {
    color: gold;
    font-size: 100%;
}